* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}

body {
  margin: 0;
}

/* ===== HEADER ===== */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fdb827;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  z-index: 1000;
}

.header nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
}

.header nav a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: 0.3s;
}

.header nav a:hover::after {
  width: 100%;
}

.logo img {
  height: 35px;
}

/* ===== HERO ===== */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 80px;
  background-color: #fdb827;
  margin-top: 0;
  padding-top: 80px;
}

.hero-photo {
  width: 550px;
  height: 550px;
  clip-path: polygon(
    35% 0%,
    100% 0%,
    65% 100%,
    0% 100%
  );
  overflow: hidden;
}

.hero-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero-text h1 {
  font-size: 70px;
  margin: 0;
}

.hero-text p {
  font-size: 26px;
  margin: 0;
}

/* ===== SECTION ===== */
.section {
  padding: 60px;
}

.section-title {
  display: inline-block;
  background: #fdb827;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.85);
  padding: 6px 14px;
  margin-bottom: 20px;
}

/* ===== BUTTON ===== */
.github-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.github-btn {
  background-color: #ffb703;
  color: #000;
  padding: 12px 28px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}


/* ===== ABOUT ME ===== */
.about-text p {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ===== STACK ===== */
.stack-table {
  width: 100%;
  border-collapse: collapse;
}

.stack-table th,
.stack-table td {
  border: 1px solid #000000;
  padding: 12px;
  text-align: center;
}

/* ===== PROJECT ===== */
.project-item {
  max-width: 800px;
  margin: 0 auto 48px;
}

.project-title {
  text-align: center;
  margin-bottom: 16px;
}

.project-image {
  display: block;
  margin: 0 auto 20px;
  max-width: 100%;
  height: auto;
}

.project-description {
  max-width: 900px;
  margin: 0 auto;
  line-height: 1.7;
}

.project-description p {
  margin-bottom: 16px;
}

.project-description ul {
  margin-left: 20px;
  margin-bottom: 20px;
}

.project-description li {
  margin-bottom: 8px;
}

.project-link a {
  color: #0066cc;
  text-decoration: underline;
}

.project-image-kalori {
  display: block;
  margin: 0 auto 20px;
  max-width: 320px;
  height: auto;
}

/* ===== CONTACT ===== */
.contact {
  background: #fdb827;
  padding: 30px;
  font-size: 18px;
  text-align: center;
}

.footer-text {
  margin-top: 10px;
}
.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 8px 0;
}

.contact-item img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}


.contact-item a {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.contact-item a:hover {
  text-decoration: underline;
}